<main>
    <h2>Tienda</h2>
    <section class="shop-section">
        <div class="products">
            <div *ngFor="let libro of libros" class="product">
                <img [src]="libro.Imagen" alt="Nombre del Producto">
                <div class="product-content">
                    <h3>{{ libro.Titulo }}</h3>
                    <p>{{ libro.Autor }}</p>
                    <button [routerLink]="['/detalle-libro', libro.Titulo]">Ver Detalles</button>
                </div>
            </div>
        </div>
    </section>
</main>
