<main>
    <h2>Tienda</h2>
    <section class="shop-section">
        <div class="products">
            <div *ngIf="isLoading" class="loading">Cargando...</div>
            <div *ngFor="let libro of libros" [routerLink]="['/detalle-libro', libro.titulo]" class="product">
                <div class="product-image-container">
                    <img [src]="libro.imagen" alt="{{ libro.titulo }}">
                  </div>
                <div class="product-content">
                    <h3>{{ libro.titulo }}</h3>
                    <p>{{ libro.autor }}</p>
                </div>
            </div>
        </div>
    </section>
</main>
