

.shop-section {
    text-align: center;
    padding: 50px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 20px;
}

h2{
    padding-left: 2%;
    font-size: 2.5em;
    margin-left: 50px;
  }

.product {
    max-width: 200px; /* Reducimos el ancho máximo */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; /* Reducimos el espacio interno */
    background-color: #fff;
    color: #333;
    
}


.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    margin-top: 5px;
}

.product button {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #0056b3;
}

@media (max-width: 907px) {

    h2{
        padding-top: 2%;
        font-size: 20px;
    }

    .shop-section{  
        padding: 20px;
        margin: 5%;
        font-size: 8px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }


}



