<div class="container">
  <div class="table-container">
    <table>
      <tr>
        <th>Nombre de usuario</th>
        <th>Email</th>
        <th>Direccion</th>
        <th>Telefono</th>

      </tr>
      <tr *ngFor="let user of users" (click)="seleccionarUsuario(user)">
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.direccion}}</td>
        <td>{{user.telefono}}</td>

      </tr>
    </table>
  </div>

  <div class="form-container">
  <h2>Actualizar información del usuario</h2>
  <form>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" [(ngModel)]="selectedUser.userName">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="selectedUser.email">
    <input type="submit" value="Actualizar">
  </form>
</div>
</div>