.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }
  .table-container {
    width: 45%;
    padding-top: 2%;
  }
  .form-container {
    width: 45%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
    background-color: white;
    color: black;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label, input {
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 100%;
    max-width: 300px; 
    padding: 5px; 
  }

  input[type="submit"] {
    width: fit-content;
    background-color: #b28a08; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition-duration: 0.2s; 
  }
  
  input[type="submit"]:hover {
    background-color: white; 
    color: #b28a08; 
    border: 1px solid black 
  }


  input[type="checkbox"] {
    width: fit-content;
    color: white; 
    text-align: center;
    display: inline-block; 
  }
  table{
    cursor: pointer;
  }


  

  @media (max-width: 907px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .table-container {
      width: 100%;
      font-size: 14px;
    }
    .form-container {
      width: 100%;
    } 
  }