<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
</div>
<div *ngIf="!loading">
  <div class="rentar-libro-container" *ngIf="libro">
      <div class="header">
          <h2>Rentar {{ libro.titulo }}</h2>
          <a routerLink="/" class="boton-volver">Volver a todos los libros</a>
      </div>
      <div class="book-info">
          <div class="book-details">
              <h3>Libro a rentar:</h3>
              <img [src]="libro.imagen" alt="{{ libro.titulo }}">
              <p>Disponibles: {{ libro.existencias }}</p>
              <p>Usuario a rentar: {{ usuario?.userName }}</p>
              <label for="fecha">Fecha Solicitada:</label>
              <br><br>
              <input id="fecha" type="date" [(ngModel)]="fecha" name="fecha" required (change)="calcularFechaEntrega()">
          </div>
          <div class="reservation-details">
              <h3>Detalles de la reserva:</h3>
              <p>Libro a rentar: {{ libro.titulo }}</p>
              <p>Usuario: {{ usuario?.userName }}</p>
              <p *ngIf="fechaEntrega">Fecha prevista de entrega: {{ fechaEntrega }}</p>
              <p *ngIf="diasRestantes >= 0">Días restantes: {{ diasRestantes }}</p>
              <p>Nota: En caso de no devolución en la fecha establecida, el usuario deberá pagar multa.</p>
              <div class="buttons">
                  <button class="rentar" (click)="rentarLibro()">Rentar</button>
                  <button class="cancelar" routerLink="/">Cancelar</button>
              </div>
          </div>
      </div>
  </div>
  <div *ngIf="!libro">
      <p>Libro no encontrado.</p>
  </div>
</div>
