<div class="Header">
    <a routerLink="home">
    <img src="assets/Imagenes/LogoDelAnde.png" alt="Logo de Librería Del Ande" class="logo"/>
    </a>
    <nav id="wide-menu">
        <ul>
            <li><a routerLink="home">Inicio</a></li>
            <li><a routerLink="shop">Tienda</a></li>
            <li><a routerLink="locations">Locaciones</a></li>
            <li><a routerLink="aboutIt">Acerca De</a></li>
            @if (currentUser.isAdmin) {
                <li><a routerLink="gestion">Gestion</a></li>
            }

        </ul>
    </nav>
    <button
    id="menu-toggle"
    class="flex flex-grow basis-0 justify-end text-2xl md:hidden z-50"
  >
    <span id="menu-icon">☰</span>
  </button>
    <nav
    id="mobile-menu">
    <li><a routerLink="home">Inicio</a></li>
    <li><a routerLink="shop">Tienda</a></li>
    <li><a routerLink="locations">Locaciones</a></li>
    <li><a routerLink="aboutIt">Acerca De</a></li>
    @if (currentUser.isAdmin) {
        <li><a routerLink="gestion">Gestion</a></li>
    }
    <div class="auth-section-mobile">
        @if (currentUser.email != "") {
            <div class="UserInfo">
                <a routerLink="profile">{{currentUser.email}}</a>
                <button (click)="logout()">Cerrar Sesión</button>
            </div>
        }
        @else{
            <label routerLink="login">Iniciar Sesión</label>
        }
    </div>
  </nav>
    <div class="auth-section-wide">
        @if (currentUser.email != "") {
            <div class="UserInfo">
                <a routerLink="profile">{{currentUser.email}}</a>
                <button (click)="logout()">Cerrar Sesión</button>
            </div>
        }
        @else{
            <label routerLink="login">Iniciar Sesión</label>
        }
    </div>
</div>
