/* Estilos para la cabecera */
.Header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye espacio uniformemente entre los elementos */
    padding: 0 20px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .auth-section {
    margin-left: auto; /* Empuja la sección de autenticación a la derecha */
    display: flex;
    align-items: center;
  }
  
  label, a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  label:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .UserInfo {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  /* Estilo para el logo */
  .logo {
    max-width: 150px; /* Ajusta este valor según sea necesario */
    max-height: 75px; /* Ajusta este valor para hacerlo más grande */
    margin-right: 10px; /* Añadimos un poco de espacio entre el logo y el menú */
    margin-left: 20px; /* Ajusta el margen izquierdo para desplazar el logo a la derecha */
  }
  .UserInfo button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .UserInfo button:hover {
    background-color: #ff1a1a;
  }