/* Estilos para la cabecera */
.Header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye espacio uniformemente entre los elementos */
    max-height: 70px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .auth-section {
    margin-left: auto; /* Empuja la sección de autenticación a la derecha */
    display: flex;
    align-items: center;
  }
  
  label, a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  label:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .UserInfo {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
  }
  
  /* Estilo para el logo */
  .logo {
    max-width: 150px; /* Ajusta este valor según sea necesario */
    max-height: 75px; /* Ajusta este valor para hacerlo más grande */
    margin-right: 10px; /* Añadimos un poco de espacio entre el logo y el menú */
    margin-left: 15px; /* Ajusta el margen izquierdo para desplazar el logo a la derecha */
  }
  .UserInfo button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .UserInfo button:hover {
    background-color: #ff1a1a;
  }

  #menu-toggle{
    display: none;
    align-items: start;
  }

  #mobile-menu{
    display: none;
  }

@media (max-width: 950px) {
  li a {
    font-size: 6px;
    margin: 0; /* Elimina los márgenes */
    padding: 0; /* Reduce el relleno */
  }

  #wide-menu{
    display: none;
  }

  #menu-toggle{
    display: flex;
  }


  #mobile-menu{
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  .UserInfo, .UserInfo button {
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4px;
  }

  .logo {
    height: 64px;
    width: auto;
    margin-right: 0; /* Añadimos un poco de espacio entre el logo y el menú */
    margin-left: 0px; /* Ajusta el margen izquierdo para desplazar el logo a la derecha */
  }

  .auth-section-wide, .auth-section button{
    display: none;
  }

  .auth-section-mobile, .auth-section button{
    font-size: 15px;
  }

  .auth-section-mobile label{
    display: none;
  }

  .auth-section-wide label{
    font-size: 15px;
  }

}