<div class="reportes-container">
  <div class="filter-group">
    <label for="reportType">Tipo de Reporte:</label>
    <select id="reportType" [(ngModel)]="selectedReportType">
      <option value="reservas">Reporte de Reservas</option>
      <option value="usuarios">Reporte de Usuarios</option>
    </select>
  </div>
  <div *ngIf="selectedReportType === 'reservas'">
    <h1>Reportes de Reservas</h1>
    <div class="filters">
      <div class="filter-group">
        <label for="userFilter">Filtrar por Usuario:</label>
        <input
          id="userFilter"
          [(ngModel)]="userFilter"
          placeholder="Nombre de usuario"
        />
      </div>
      <div class="filter-group">
        <label for="bookFilter">Filtrar por Libro:</label>
        <input
          id="bookFilter"
          [(ngModel)]="bookFilter"
          placeholder="Título del libro"
        />
      </div>
      <div class="filter-group">
        <label for="startDate">Fecha de Inicio:</label>
        <input id="startDate" type="date" [(ngModel)]="startDate" />
      </div>
      <div class="filter-group">
        <label for="endDate">Fecha de Fin:</label>
        <input id="endDate" type="date" [(ngModel)]="endDate" />
      </div>
      <button class="btn-primary" (click)="exportToCSV()">
        Exportar a CSV
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Libro</th>
          <th>Estado</th>
          <th>Fecha de Renta</th>
          <th>Fecha de Devolución</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of filteredReservas()">
          <td>{{ reserva.id }}</td>
          <td>{{ reserva.user.userName }}</td>
          <td>{{ reserva.libro.titulo }}</td>
          <td>{{ reserva.estado }}</td>
          <td>{{ reserva.fechaRenta | date }}</td>
          <td>{{ reserva.fechaDevolucion | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedReportType === 'usuarios'">
    <h1>Reporte de Usuarios</h1>
    <button class="btn-primary" (click)="exportUsuariosToCSV()">
        Exportar a CSV
      </button>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre de Usuario</th>
          <th>Teléfono</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.userName }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.direccion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
