<main>
    <section class="management-section">
        <h2>Gestión de Libros</h2>
        <div class="content-area">
            <div class="data-list">
                <!-- Aquí se cargarán los datos desde Firebase -->
                <table>
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                            <th>Contenido</th>
                            <!-- Add more columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let libro of libros" (click)="seleccionarLibro(libro)">
                            <td>{{ libro.Titulo }}</td>
                            <td>{{ libro.Autor }}</td>
                            <td>{{ libro.Precio }}</td>
                            <td>{{ libro.Imagen | slice:0:70 }}</td>
                            <td>{{ libro.Contenido }}</td>
                            <!-- Add more cells as needed -->
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            <div class="add-book-form">
                <form>
                    <h3>Agregar Nuevo Libro</h3>
                    <input [(ngModel)]="selectedLibro.Titulo" name="Titulo" type="text" placeholder="Titulo">
                    <input [(ngModel)]="selectedLibro.Autor" name="Autor" type="text" placeholder="Autor">    
                    <input name="precio" type="text" id="precio" [(ngModel)]="selectedLibro.Precio" placeholder="Precio">
                    <input name="imagen" type="file" id="imagen" (change)="handleFileInput($event)" placeholder="Imagen Source">
                    <textarea name="contenido" id="contenido" placeholder="Contenido" [(ngModel)]="selectedLibro.Contenido"></textarea>
                    <button (click)="agregarLibro()">Agregar Libro</button> <br>
                    <button (click)="updateLibro()">Actualizar Libro</button> <br>
                    <button (click)="eliminarLibro(selectedLibro)" [disabled]="!selectedLibro">Eliminar</button>
                </form>            
            </div>
        </div>
    </section>
</main>
