<section>
    <h1>Quíenes Somos</h1>
    <p>Bienvenidos a Librería Del Ande, un rincón especial donde las historias cobran vida y el conocimiento se encuentra al alcance de todos. Fundada con la pasión de fomentar la lectura y el amor por los libros, nuestra librería se convierte en el destino perfecto para aquellos que buscan sumergirse en mundos imaginarios, aprender sobre diversas temáticas o simplemente disfrutar de una buena lectura.</p>
    <h1>Nuestra Misión</h1>
    <p>En Librería Del Ande, nuestra misión es ofrecer una selección cuidadosamente curada de libros que inspiren, eduquen y entretengan a nuestros lectores. Nos enorgullecemos de brindar un servicio personalizado y atento, asegurándonos de que cada visita sea una experiencia gratificante.</p>
    <h1>Únete a Nuestra Comunidad</h1>
    <p>Te invitamos a visitar Librería Del Ande y descubrir por qué somos más que una simple librería. Aquí, cada libro
    es una puerta abierta a nuevas experiencias y cada lector es parte de nuestra gran familia. ¡Gracias por ser parte
    de nuestro viaje literario!</p> 
</section>