p{
    text-wrap: pretty;
}

section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px) {

    h2{
        font-size: 20px;
        padding-top: 2%;
    }

    p{
        font-size: 8px;
    }

    .section{
        font-size: 8px;
        padding: 2%;
    }
}