div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

form{
    background-color: #fff;
    color: black;
    padding: 70px;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;

}

button{
    background-color: #0066B8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

h1{
    max-width: 300px;
    font-size: 4em;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
}
