<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<h2>Encuéntranos en:</h2>
<body>
    <section class="locations">
        <div class="location-container">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15948.024010272904!2d-79.00651460000001!3d-2.9009328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd179dca7ed5fd%3A0x7ef0eb9fa499315e!2sCuenca%2C%20Ecuador!5e0!3m2!1ses!2sec!4v1685000000000!5m2!1ses!2sec" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="direcciones">
                <ul>
                    <li>Dirección 1: De las Americas Av, Cuenca</li>
                    <li>Dirección 2: Larga St, Cuenca</li>
                    <li>Dirección 3: Elia Liut St, Cuenca</li>
                </ul>
            </div>
        </div>
    </section>
</body>