<header>
    <h1>Inicio</h1>
</header>

<section class="background-section">
    <div class="background-image">
        <img src="src/Imagenes/Libreriafondo.png" alt="Img Fondo Libreria">
    </div>
    <div class="content">
        <h2>Bienvenido a Libreria Del Ande</h2>
        <p>En esta libreria podrás encontrar variedad de libros y temas que te pueden interesar.</p>
        <p>Si eres un amante de la lectura, este es tu lugar.</p>
        <p>¡No dudes en hacer tu pedido o visitarnos!</p>
        <p>¡Te esperamos!</p>
    </div>
</section>

<body>
    <main>

        <div class="infoLibros">
            <h2>Destacado</h2>
            <p>En esta sección podrás ver los libros destacados últimamente.</p>
            <div class="gallery">
                <div class="divImg">
                    <img src="https://m.media-amazon.com/images/I/41fNcSpxFNL._SL500_.jpg" alt="Elon Musk">
                    <p>Titulo del libro</p>
                </div>
                <div class="divImg">
                    <img src="https://m.media-amazon.com/images/I/41VU92m5gvL._SL500_.jpg" alt="Steve Jobs">
                    <p>Titulo del libro</p>
                </div>
                <div class="divImg">
                    <img src="https://m.media-amazon.com/images/I/51U8zYSCbnL._SL500_.jpg" alt="Me quedo o me voy">
                    <p>Titulo del libro</p>
                </div>
                <div class="divImg">
                    <img src="https://m.media-amazon.com/images/I/51Q50f11cmL._SL320_.jpg" alt="Me quedo o me voy">
                    <p>Titulo del libro</p>
                </div>
                <div class="divImg">
                    <img src="https://m.media-amazon.com/images/I/51SZmxMqJcL._SL320_.jpg" alt="Me quedo o me voy">
                    <p>Titulo del libro</p>
                </div>
            </div>
        </div>

        <div>
        </div>
        
    </main>
</body>
