/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  margin: 5%;
  padding: 0;
  background-color: #f9f9f9df;
  color: #333;
  border-radius: 30px; 
}

header h1 {
  padding-left: 2%;
  font-size: 2.5em;
  margin-left: 50px;
}

/* Estilos para la sección de información de libros */
.infoLibros {
  padding: 20px;
  text-align: center;
}

.infoLibros h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.infoLibros p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Estilos para la galería */
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* Estilos para cada contenedor de imagen */
.divImg {
  width: 150px;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.divImg:hover {
  transform: scale(1.05);
}

.divImg img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.divImg p {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

.background-section {
  position: relative;
  height: 400px; /* Altura deseada de la sección de fondo */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1; 
  text-align: center;
  color: #fff; 
  padding: 50px; 
  box-sizing: border-box;
}


