<header>
    <h1>Inicio</h1>
</header>

<section class="background-section">
    <div class="background-image">
        <img src="assets/Imagenes/Libreriafondo.webp" alt="Img Fondo Libreria">
    </div>
    <div class="content">
        <h2>Bienvenido a Libreria Del Ande</h2>
        <p>En esta librería podrás encontrar una variedad de libros y temas que te pueden interesar.</p>
        <p>Si eres un amante de la lectura, ¡este es tu lugar!</p>
        <p>¡No dudes en hacer tu pedido o visitarnos!</p>
        <p>¡Te esperamos!</p>
    </div>
</section>
<br>
<br>
<main>
    <div class="infoLibros">
        <h2>Destacados</h2>
        <p>En esta sección podrás ver los libros destacados últimamente.</p>
            <div class="gallery">
                <div class="divImg" *ngFor="let libro of libros | slice:0:4">
                <img [src]="libro.imagen" alt="{{ libro.titulo }}">
                <p>{{ libro.titulo }}</p>
            </div>
          </div>
    </div>
<br>
<br>
    <section class="recommendations-section">
        <h2>Recomendaciones</h2>
        <p>¡Echa un vistazo a nuestras recomendaciones!</p>
        <div class="gallery">
            <div class="divImg" *ngFor="let libro of libros | slice:0:5">
            <img [src]="libro.imagen" alt="{{ libro.titulo }}">
            <p>{{ libro.titulo }}</p>
        </div>
      </div>
    </section>
</main>

