/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    background-color: #18283F;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body.login-page {
    --background-color: #fff;
    /* otros estilos aquí */
}

